<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#introduction">Finance API</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
		
		<div id="doc-body" class="">  <div class="row row-no-padding row-eq-height" id="intro">
  <div class="col-md-6 col-xs-12 section">
  <div class="api-information">
    <div class="collection-name">
      <p><h1>The tracun API</h1></p>
    </div>	
		
    <div class="collection-description"><h2 id="introduction">Introduction</h2>
<p>This is a simple API that provide simple quotation of financial market using the googleFinance</p>
</div>
  </div>
</div>

	<!-- Button toggle -->
	<div id="page-content-wrapper">
		<div class="container-fluid" align="left">
			<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
		</div>
	</div>
	<!-- /#Button toggle -->

  <!--<div class="col-md-6 col-xs-12 examples">
    <div class="language hidden-xs hidden-sm">
      <div class="language-heading">Language</div>
      <div class="btn-group languages">
        <button type="button" class="btn btn-default dropdown-toggle language-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="active-lang ellipsis">cURL</div>
          <span class="pm-doc-sprite pm-doc-sprite-dropdown-caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right language_dropdown">
          <li class="dropdown-menu-item" data-snippetname="shell:curl">cURL</li>
          <li class="dropdown-menu-item" data-snippetname="javascript:jquery">jQuery</li>
          <li class="dropdown-menu-item" data-snippetname="ruby:native">Ruby</li>
          <li class="dropdown-menu-item" data-snippetname="python:requests">Python Requests</li>
          <li class="dropdown-menu-item" data-snippetname="node:native">Node</li>
          <li class="dropdown-menu-item" data-snippetname="php:curl">PHP</li>
          <li class="dropdown-menu-item" data-snippetname="go:native">Go</li>
        </ul>
      </div>
    </div>

  <!--<div class="hidden-xs hidden-sm sidebar-error">
    <p class="heading">Could not load examples for this collection</p>
    <button class="btn btn-default retry-button" id="retryLoadingExamples">Retry</button>
  </div>
  
  <div class="hidden-xs hidden-sm sidebar-loader spinner"></div>
</div>-->

</div>
    <div class="row row-no-padding row-eq-height" id="3af4d96a-b4ea-453a-b7e0-3c9f086659bb">
  <div class="col-md-6 col-xs-12 section">
  <div class="api-information">
    <div class="heading">
      <div class="name">
        <span class="GET method">GET</span>
        Shows API DOC
      </div>
    </div>
    <div class="url">tracun.com/home</div>
    <div class="description"></div>
  </div>
  <br><br>
</div>
  <div class="col-md-6 col-xs-12 examples">
    <div class="sample-request">
      <div class="heading"><span>Example Request</span></div>

      <div class="responses-index">
          <div class="response-name"><span>Default</span></div>
      </div>
    </div>

    <div class="request code-snippet">
          <div class="formatted-requests is-default" data-lang="cURL" data-id="3af4d96a-b4ea-453a-b7e0-3c9f086659bb_0">
            <pre class="click-to-expand-wrapper is-snippet-wrapper"><button class="btn btn-sm pull-right copy-request copy-request-modal" data-clipboard-target="#cURL_0_3af4d96a-b4ea-453a-b7e0-3c9f086659bb" data-before-copy="Copy to Clipboard" data-after-copy="Copied"></button><code class="language-javascript" id="cURL_0_3af4d96a-b4ea-453a-b7e0-3c9f086659bb">curl --request GET \
  --url http://kjkj</code></pre>
            <!-- Button over the expand overlay -->
            <button class="btn btn-sm pull-right copy-request" data-clipboard-target="#cURL_0_3af4d96a-b4ea-453a-b7e0-3c9f086659bb" data-before-copy="Copy to Clipboard" data-after-copy="Copied"></button>
          </div>
    </div>

</div>

</div>
    <div class="row row-no-padding row-eq-height" id="8d151957-e97e-48f2-ab4c-cfd7c02945e3">
  <div class="col-md-6 col-xs-12 section">
  <div class="api-information">
    <div class="heading">
      <div class="name">
        <span class="GET method">GET</span>
        Searches for all tickers
      </div>
    </div>
    <div class="url">tracun.com/finance/api/v1/stocks</div>
    <div class="description"><p>Searches for all tickers</p>
</div>
  </div>
  <br><br>
</div>
  <div class="col-md-6 col-xs-12 examples">
    <div class="sample-request">
      <div class="heading"><span>Example Request</span></div>

      <div class="responses-index">
          <div class="response-name"><span>Searches for all tickers</span></div>
      </div>
    </div>

    <div class="request code-snippet">
          <div class="formatted-requests is-default" data-lang="cURL" data-id="8d151957-e97e-48f2-ab4c-cfd7c02945e3_0">
            <pre class="click-to-expand-wrapper is-snippet-wrapper"><button class="btn btn-sm pull-right copy-request copy-request-modal" data-clipboard-target="#cURL_0_8d151957-e97e-48f2-ab4c-cfd7c02945e3" data-before-copy="Copy to Clipboard" data-after-copy="Copied"></button><code class="language-javascript" id="cURL_0_8d151957-e97e-48f2-ab4c-cfd7c02945e3">curl --request GET \
  --url http://tracun.com/finance/api/v1/stocks</code></pre>
            <!-- Button over the expand overlay -->
            <button class="btn btn-sm pull-right copy-request" data-clipboard-target="#cURL_0_8d151957-e97e-48f2-ab4c-cfd7c02945e3" data-before-copy="Copy to Clipboard" data-after-copy="Copied"></button>
          </div>
    </div>

</div>

</div>
    <div class="row row-no-padding row-eq-height" id="7c5d1c7e-3c65-47cf-a0d5-f7b747dee62e">
  <div class="col-md-6 col-xs-12 section">
  <div class="api-information">
    <div class="heading">
      <div class="name">
        <span class="GET method">GET</span>
        Searches for a specific ticker
      </div>
    </div>
    <div class="url">tracun.com/finance/api/v1/stocks/&lt;string:ticker&gt;</div>
    <div class="description"><p>Searches for a specific ticker</p>
</div>
  </div>
  <br><br>
</div>
  <div class="col-md-6 col-xs-12 examples">
    <div class="sample-request">
      <div class="heading"><span>Example Request</span></div>

      <div class="responses-index">
          <div class="response-name"><span>Searches for a specific ticker</span></div>
      </div>
    </div>

    <div class="request code-snippet">
          <div class="formatted-requests is-default" data-lang="cURL" data-id="7c5d1c7e-3c65-47cf-a0d5-f7b747dee62e_0">
            <pre class="click-to-expand-wrapper is-snippet-wrapper"><button class="btn btn-sm pull-right copy-request copy-request-modal" data-clipboard-target="#cURL_0_7c5d1c7e-3c65-47cf-a0d5-f7b747dee62e" data-before-copy="Copy to Clipboard" data-after-copy="Copied"></button><code class="language-javascript" id="cURL_0_7c5d1c7e-3c65-47cf-a0d5-f7b747dee62e">curl --request GET \
  --url http://tracun.com/finance/api/v1/stocks/%3Cstring:ticker%3E</code></pre>
            <!-- Button over the expand overlay -->
            <button class="btn btn-sm pull-right copy-request" data-clipboard-target="#cURL_0_7c5d1c7e-3c65-47cf-a0d5-f7b747dee62e" data-before-copy="Copy to Clipboard" data-after-copy="Copied"></button>
          </div>
    </div>

</div>

</div>
    <div class="row row-no-padding row-eq-height" id="18712c9d-799b-49f5-821a-40a6f5912e2d">
  <div class="col-md-6 col-xs-12 section">
  <div class="api-information">
    <div class="heading">
      <div class="name">
        <span class="POST method">POST</span>
        Save a new ticker
      </div>
    </div>
    <div class="url">tracun.com/finance/api/v1/newTicker/&lt;string:ticker&gt;</div>
    <div class="description"><p>Save a new ticker</p>
</div>
  </div>
  <br><br>
</div>
  <div class="col-md-6 col-xs-12 examples">
    <div class="sample-request">
      <div class="heading"><span>Example Request</span></div>

      <div class="responses-index">
          <div class="response-name"><span>Save a new ticker</span></div>
      </div>
    </div>

    <div class="request code-snippet">
          <div class="formatted-requests is-default" data-lang="cURL" data-id="18712c9d-799b-49f5-821a-40a6f5912e2d_0">
            <pre class="click-to-expand-wrapper is-snippet-wrapper"><button class="btn btn-sm pull-right copy-request copy-request-modal" data-clipboard-target="#cURL_0_18712c9d-799b-49f5-821a-40a6f5912e2d" data-before-copy="Copy to Clipboard" data-after-copy="Copied"></button><code class="language-javascript" id="cURL_0_18712c9d-799b-49f5-821a-40a6f5912e2d">curl --request POST \
  --url http://tracun.com/finance/api/v1/newTicker/%3Cstring:ticker%3E</code></pre>
            <!-- Button over the expand overlay -->
            <button class="btn btn-sm pull-right copy-request" data-clipboard-target="#cURL_0_18712c9d-799b-49f5-821a-40a6f5912e2d" data-before-copy="Copy to Clipboard" data-after-copy="Copied"></button>
          </div>
    </div>

</div>

</div>
</div>

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
