<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simple finance API</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
		
		<div id="doc-body" class="">  <div class="row row-no-padding row-eq-height" id="intro">
  <div class="col-md-6 col-xs-12 section">
  <div class="api-information">
    <div class="collection-name">
      <p><h1>The tracun API</h1></p>
    </div>	
		
    <div class="collection-description"><h2 id="introduction">Introduction</h2>
<p>This is a simple API that provide simple quotation of financial market using the googleFinance</p>
</div>
  </div>
</div>
</div>
    <div class="row row-no-padding row-eq-height" id="3af4d96a-b4ea-453a-b7e0-3c9f086659bb">
  <div class="col-md-6 col-xs-12 examples">
    <div class="sample-request">
      <div class="heading"><span>Example Request</span></div>

      <div class="responses-index">
          <div class="response-name"><span>Default</span></div>
      </div>
    </div>
    <div class="request code-snippet">
          <div class="formatted-requests is-default" data-lang="cURL" data-id="3af4d96a-b4ea-453a-b7e0-3c9f086659bb_0">
            <pre class="click-to-expand-wrapper is-snippet-wrapper"><code class="language-javascript" id="cURL_0_3af4d96a-b4ea-453a-b7e0-3c9f086659bb">GET url <a HREF="http://tracun.com/home"><b>http://tracun.com/home</b></a></code></pre>
          </div>
    </div>
</div>
</div>
    <div class="row row-no-padding row-eq-height" id="8d151957-e97e-48f2-ab4c-cfd7c02945e3">
  <div class="col-md-6 col-xs-12 examples">
    <div class="sample-request">
      <div class="heading"><span>Example Request</span></div>

      <div class="responses-index">
          <div class="response-name"><span>Searches for all tickers</span></div>
      </div>
    </div>
    <div class="request code-snippet">
          <div class="formatted-requests is-default" data-lang="cURL" data-id="8d151957-e97e-48f2-ab4c-cfd7c02945e3_0">
            <pre class="click-to-expand-wrapper is-snippet-wrapper"><code class="language-javascript" id="cURL_0_8d151957-e97e-48f2-ab4c-cfd7c02945e3">GET url <a HREF="http://tracun.com/finance/api/v1/stocks"><b>http://tracun.com/finance/api/v1/stocks</b></a></code></pre>
          </div>
    </div>
</div>
</div>
    <div class="row row-no-padding row-eq-height" id="7c5d1c7e-3c65-47cf-a0d5-f7b747dee62e">
  <div class="col-md-6 col-xs-12 examples">
    <div class="sample-request">
      <div class="heading"><span>Example Request</span></div>
      <div class="responses-index">
          <div class="response-name"><span>Searches for a specific ticker</span></div>
      </div>
    </div>
    <div class="request code-snippet">
          <div class="formatted-requests is-default" data-lang="cURL" data-id="7c5d1c7e-3c65-47cf-a0d5-f7b747dee62e_0">
            <pre class="click-to-expand-wrapper is-snippet-wrapper"><code class="language-javascript" id="cURL_0_7c5d1c7e-3c65-47cf-a0d5-f7b747dee62e">GET url <a HREF="http://tracun.com/finance/api/v1/stocks/SEUTICKER"><b>http://tracun.com/finance/api/v1/stocks/&ltstring:ticker&gt</b></a></code></pre>
          </div>
    </div>
</div>
</div>
    <div class="row row-no-padding row-eq-height" id="18712c9d-799b-49f5-821a-40a6f5912e2d">
  <div class="col-md-6 col-xs-12 examples">
    <div class="sample-request">
      <div class="heading"><span>Example Request</span></div>
      <div class="responses-index">
          <div class="response-name"><span>Save a new ticker</span></div>
      </div>
    </div>
    <div class="request code-snippet">
          <div class="formatted-requests is-default" data-lang="cURL" data-id="18712c9d-799b-49f5-821a-40a6f5912e2d_0">
            <pre class="click-to-expand-wrapper is-snippet-wrapper"><code class="language-javascript" id="cURL_0_18712c9d-799b-49f5-821a-40a6f5912e2d">POST url <b>http://tracun.com/finance/api/v1/newTicker/&ltstring:ticker&gt</b></code></pre>
          </div>
    </div>
</div>
</div>
</div>
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>

</html>
